<footer>
	<div class="footer newnav">
    	<div class="container-fluid">
    		<div class="row" align="center">
            	<div class="col-sm-6">
                	<img src="img/copyrights.png" class="copy-rights img-responsive hidden-xs">
                    <img src="img/copyrights-mob.png" class="copy-rights img-responsive visible-xs">
                </div>
                <div class="col-sm-6">
                	<a href="http://studiodiseno.com/" target="_blank"><img src="img/handcrafted.png" class="studiodiseno img-responsive hidden-xs"></a>
                    <a href="http://studiodiseno.com/" target="_blank"><img src="img/handcrafted-mob.png" class="studiodiseno img-responsive visible-xs"></a>
                </div>
            </div>
        </div>
    </div><!--/.footer-->
</footer>


<!--SlideShare Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header" align="right">
            	<button type="button" class="modal-close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div style="width:100%;" id="__ss_9441374"> 
                	<iframe src="http://www.slideshare.net/slideshow/embed_code/39498546" width="100%" height="455" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
                
            </div>
    	</div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header" align="right">
            	<button type="button" class="modal-close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div style="width:100%;" id="__ss_9441374"> 
                	<iframe src="http://www.slideshare.net/slideshow/embed_code/35518899" width="100%" height="455" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
            </div>
    	</div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header" align="right">
            	<button type="button" class="modal-close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div style="width:100%;" id="__ss_9441374"> 
                	<iframe src="http://www.slideshare.net/slideshow/embed_code/41743394" width="100%" height="455" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
            </div>
    	</div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header" align="right">
            	<button type="button" class="modal-close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div style="width:100%;" id="__ss_9441374"> 
                	<iframe src="http://www.slideshare.net/slideshow/embed_code/19034597" width="100%" height="455" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                </div>
            </div>
    	</div>
    </div>
</div>