<!-- Navigation -->
<div class="hidden-xs">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
    	<a class="navbar-brand page-scroll" href="#page-top"></a>
        <div class="collapse navbar-collapse navbar-main-collapse" align="center">
            <ul class="nav nav-justified">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a class="page-scroll" href="#consultancy">WHO</a></li>
                <li><a class="page-scroll" href="#services">WHAT</a></li>
                <li><a class="page-scroll" href="#creative">HOW</a></li>
                <li><a class="page-scroll" href="#professionals">CONTACT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://medium.com/@amanwhotweets" target="_blank"><div class="medium-ico"></div></a></li>
                <li><a href="https://twitter.com/@amanwhotweets" target="_blank"><div class="twitter-ico"></div></a></li>
                <li><a href="mailto:aman.narain@gmail.com"><div class="email-ico"></div></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
</div>

<div class="visible-xs">
<nav class="navbar navbar-custom02 navbar-fixed-top newnav" role="navigation">
    <div class="navbar-header">
        <a id="menu-toggle" href="#page-top" class="btn btn-dark btn-lg toggle menu-link"><i class="fa fa-bars"></i></a>
        <a class="navbar-brand page-scroll" href="#page-top"></a>
    </div>
</nav>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li><a class="page-scroll newnav01" href="#consultancy">WHO</a></li>
        <li><a class="page-scroll newnav01" href="#services">WHAT</a></li>
        <li><a class="page-scroll newnav01" href="#creative">HOW</a></li>
        <li><a class="page-scroll newnav01" href="#professionals">CONTACT</a></li>
        <li>
            <ul class="list-inline">
                <li><a href="https://medium.com/@amanwhotweets" target="_blank"><div class="medium-ico"></div></a></li>
                <li><a href="https://twitter.com/@amanwhotweets" target="_blank"><div class="twitter-ico"></div></a></li>
                <li><a href="mailto:aman.narain@gmail.com"><div class="email-ico"></div></a></li>
            </ul>
        </li>
    </ul>
</nav>
</div>