<section id="slide-1" class="homeSlide header newnav">
    <div class="bcg text-vertical-center" data-center="background-position: 50%  0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
   		<div class="code-logo center-block">
        	<!--<img src="img/code-logo.png" class="img-responsive">-->
        </div><!--/code.logo-->
        <div class="amplify">
        	<a href="#services" class="btn btn-default page-scroll"><span>ADVISE</span> <span>AMPLIFY</span> <span>ACCELERATE</span></a>
        </div><!--/.amplify-->
        <div class="mouse-ico">
        	<a class="page-scroll" href="#consultancy"><img src="img/mouse-ico.png"></a>
        </div><!--/.mouse-ico-->
    </div>
</section>

<section id="consultancy" class="accelerator newnav">
	<div class="container" align="center">
		<h2 class="head01"><span>Who we are</span></h2>
        <div class="franchises">
            <p>CodeBlu is consultancy and accelerator established by Aman Narain, former Global Head of Digital Banking for Standard Chartered.</p>
            <p>Having led the turnaround from breakdown to breakthrough and created one of the world’s largest largest Retail, Private and Small Business digital banking franchises, Aman and a group of industry colleagues are now making their services available to anyone with an interest in transforming the financial services industry.</p>
            <p>Whether you are a large multinational or a lean startup, we have the experience of dealing with a broad spectrum of industry players.</p>
        </div><!--/.franchises-->
    </div><!--/.container-->
    <div id="portfolio" class="presentation" align="center">
    	<div class="container">
    		<h4>RECENT PRESENTATION'S</h4>
            <div class="row">
                <div class="col-sm-6 col-md-3 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal" style="border: 1px solid #fff;">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <img src="img/thumb-vid01.png" class="img-responsive img-responsive01" alt="Codeblu Slideshare">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal" style="border: 1px solid #fff;">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <img src="img/thumb-vid02.png" class="img-responsive img-responsive01" alt="Codeblu Slideshare">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal" style="border: 1px solid #fff;">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <img src="img/thumb-vid03.png" class="img-responsive img-responsive01" alt="Codeblu Slideshare">
                    </a>
                </div>
                <div class="col-sm-6 col-md-3 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal" style="border: 1px solid #fff;">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <img src="img/thumb-vid04.png" class="img-responsive img-responsive01" alt="Life as a Service">
                    </a>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.presentation-->
</section>

<section id="services" class="product-development newnav">
	<div class="container">
        <h2 class="head01" align="center"><span>What we do</span></h2>
        <div class="row channel-migration" align="center">
            <div class="col-lg-12">
            	<p>CodeBlu comprises of industry practitioners who are willing to offer their services based on experience solving real world problems across payments, product development, customer experience, channel migration, organizational design and building winning ecosystems.</p>
            </div><!--/.col-->
            <div class="col-lg-12">
            	<p>CodeBlu is focussed on helping clients establish realistic goals based on knowledge and trust. Two primary ingredients we believe that reduce transaction costs and creates the headroom for our clients to transform the financial services industry. To achieve these goals we work on three activities with our clients:</p>
            </div><!--/.col-->
        </div><!--/.row-->
        <div class="row transaction-cost">
        	<div class="col-md-4">
            	<p><strong>Advise</strong> based on experience of transforming as well as critically learning from industry failures in financial services across over 35+ markets principally focused on Asia, Africa and the Middle East.</p>
            </div><!--/.col-->
            <div class="col-md-4">
            	<p><strong>Amplification</strong> of your ongoing digital initiatives to achieve maximum return on investment and create sustainable competitive advantages for your organization by being truly committed to a change agenda driven by digital.</p>
            </div><!--/.col-->
            <div class="col-md-4">
            	<p><strong>Accelerating</strong> concepts and ideas, working with you whether you are a  startup or a  large multinational corporation, that will offer game changing and transformative capability and products by focussing on on commercial outcomes driven through design and engineering skills.</p>
            </div><!--/.col-->
        </div><!--/.row-->
    </div><!--/.container-->
</section>

<section id="creative" class="strategise newnav">
	<div class="container">
    	<h2 class="head01 head02" align="center"><span>How we work</span></h2>
    	<div class="row analogous" align="center">
        	<div class="col-xs-6 col-md-3">
            	<div class="thumbnail">
                	<img src="img/listen.png" class="img-responsive" alt="Listen">
                    <h4>Listen</h4>
                </div><!--/.thumbnail-->
            </div><!--/.col-->
            <div class="col-xs-6 col-md-3">
            	<div class="thumbnail">
                	<img src="img/analyze.png" class="img-responsive" alt="Analyse">
                    <h4>Analyse</h4>
                </div><!--/.thumbnail-->
            </div><!--/.col-->
            <div class="col-xs-6 col-md-3">
            	<div class="thumbnail">
                	<img src="img/strategise.png" class="img-responsive" alt="Strategise">
                    <h4>Strategise</h4>
                </div><!--/.thumbnail-->
            </div><!--/.col-->
            <div class="col-xs-6 col-md-3">
            	<div class="thumbnail">
                	<img src="img/develop.png" class="img-responsive" alt="Develop">
                    <h4>Develop</h4>
                </div><!--/.thumbnail-->
            </div><!--/.col-->
        </div><!--/.row-->
        <div class="row">
        	<div class="col-lg-12" align="center">
            	<p>We are not a cookie cutter management consultancy that comes to you with preconceived ideas based on analogous examples from other industries and markets. What we do is listen, analyse, strategise and develop executable and creative strategies that we are committed to delivering with you, if you choose.</p>
            </div><!--/.col-->
        </div>
    </div><!--/.container-->
</section>

<section id="professionals" class="contact-codeblu newnav">
	<div class="container">
    	<h2 class="head01" align="center"><span>Contact</span></h2>
        <div class="row drive-change">
        	<div class="col-md-6 visible-xs">
            	<p>If you are interested in transforming your digital offering and seek experienced industry professionals who created more than powerpoint to drive change contact us. In the event we are unable to help you we will be proud to point you in the right direction.</p>
                <ul class="list-inline social-links">
                	<li><a href="https://medium.com/@amanwhotweets" target="_blank"><div class="medium-ico"></div></a></li>
                	<li><a href="https://twitter.com/@amanwhotweets" target="_blank"><div class="twitter-ico"></div></a></li>
                	<li><a href="mailto:answers@codeblu.com" target="_blank"><div class="email-ico"></div></a></li>
                </ul>
            </div>
        	<div class="col-md-6 contact-left">
            	<fieldset id="contact_form">
               		<div id="result" style="color:#4FA1D3; font-size:0.8em;"></div>
                	<div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" required placeholder="NAME">
                            </div><!--/.form-group-->
                        </div><!--/.col-->
                    
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL"  required>
                            </div><!--/.form-group-->
                        </div><!--/.col-->
                
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" required placeholder="SUBJECT">
                            </div><!--/.form-group-->
                        </div><!--/.col-->
                    
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" id="message" rows="4" name="message" style="height: 140px;" placeholder="CONTENT" required></textarea>
                            </div><!--/.form-group-->
                        </div><!--/.col-->
                    
                        <div class="col-lg-12" align="right">
                            <div class="form-group">
                                <input value="SEND" class="btn btn-default" id="submit_btn" type="button" name="submit"/>
                            </div><!--/.form-group-->
                        </div><!--/.col-->
                    </div><!--/.row-->
                </fieldset>
            </div><!--/.col-->
            
            <div class="col-md-6 hidden-xs">
            	<p>If you are interested in transforming your digital offering and seek experienced industry professionals who created more than powerpoint to drive change contact us. In the event we are unable to help you we will be proud to point you in the right direction.</p>
                <ul class="list-inline social-links">
                	<li><a href="https://medium.com/@amanwhotweets" target="_blank"><div class="medium-ico"></div></a></li>
                	<li><a href="https://twitter.com/@amanwhotweets" target="_blank"><div class="twitter-ico"></div></a></li>
                	<li><a href="mailto:aman.narain@gmail.com"><div class="email-ico"></div></a></li>
                </ul>
            </div><!--/.col-->
        </div><!--/.row-->
    </div><!--/.container-->
</section>
<navigation-footer></navigation-footer>